@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300,600italic,300italic,400italic);

body {
	background-color: black;
	color: #f0f;
	font-family: "Open Sans", sans-serif;
	font-size: 4mm;
	width: 20cm;
	text-align: justify;
	margin: auto;
}

.title {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

h1.title {
	font-size: 3em;
}

h2.meta {
	font-size: 2em;
}

h1.masthead {
	font-size: 4em;
}

a {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-style: italic;
	color: #0ff;
}

table {
	width: 90%;
	height: 90%;
	margin: auto;
	text-align: right;
}

th, td {
	width: 25mm;
}
